@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: darkslateblue;
  color: white;
  font-family: "Roboto", sans-serif;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  min-height: 100vh;
  padding: 3rem;
}

.circle{
  height: 50px;
  width: 50px;
  background-color: purple;
  display: block;
  border-radius: 50px;
  border: solid;
  border-color: black;
}

.result{
  height: 20px;
  width: 20px;
  border-radius: 20px;
}

.button{
  height: 60px;
  width: 60px;
  border-radius: 60px;
}

.container{
  display: flex;
  gap: 10px;
  top: 80%;
  position: relative;
  align-content: flex-end;
  justify-content: center;
}
